*.log
*.pot
*.tmp
*.temp

venv/
env/
.venv/
.env/

*.env
*.ini
*.cfg
*.toml
*.secret

.coverage
.tox/
.nox/

_build/
docs/_build/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
node_modules/