.dock 
  .dock_flex
    .dock_items
      .dock_logo#menu
        img(src="/img/logo.png", alt="Blueberry")
      .separator
      #activeApps
    .dock_right
      img#menu_apps(src="/img/menu.png", alt="menu_apps")