.menu_bar 
  .menu_bar_flex 
    .menu_bar_left 
      .activity#activity Activities
    .menu_bar_center 
        #date -- --
        #time --:--
    .menu_bar_right
        span soon

script(type="module" src="/js/menu_bar.js")