#startMenu.hidden
  .start-header
    .start-avatar 
      img(src="/img/circle-user.png", alt="circle-user")
    .start-user
      strong#menuUsername test
  .start-footer
    button#lockBtn
      img(src="/img/lock.png", alt="lock")
    button#refreshBtn
      img(src="/img/refresh.png", alt="refresh")
    button#shutdownBtn
      img(src="/img/power.png", alt="power")

script(type="module" src="/js/startMenu.js")