doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Blueberry - WebOS

    link(rel="stylesheet" href="/styles/desktop.css")
    link(rel="stylesheet" href="/styles/includes/menu_bar.css")
    link(rel="stylesheet" href="/styles/includes/dock.css")

  body
    include includes/menu_bar 

    .desktop

    include includes/dock