doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Blueberry - WebOS

    link(rel="stylesheet" href="/styles/desktop.css")
    link(rel="stylesheet" href="/styles/includes/menu_bar.css")
    link(rel="stylesheet" href="/styles/includes/startMenu.css")
    link(rel="stylesheet" href="/styles/includes/appsMenu.css")
    link(rel="stylesheet" href="/styles/includes/dock.css")

  body
    include includes/menu_bar 

    .desktop#desktop 
      #selectionBox

    include includes/appsMenu
    include includes/startMenu
    include includes/dock
  
  script(type="module" src="/js/desktop.js")