doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Blueberry - WebOS

    link(rel="stylesheet" href="/styles/welcome_screen.css")

  body
    .splash-screen

      .blueberry-logo
        img(
          src="/img/logo.png"
          alt="Blueberry"
        )

      .loader
        .progress-bar
          .progress

    .setup-screen

      .glass

        h1.welcome-text
          span#welcome-text
          span.cursor |

    script(src="/js/welcome_screen.js")