.menu_bar {
  width: 100%;
  height: 30px;
  max-height: 30px;
  font-size: 11px;
  color: #c6c6c6;
  background-color: #131313;
}

.menu_bar_flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  height: 30px;
  max-height: 30px;
}

.menu_bar_center {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.menu_bar_center:hover {
  border: 1px solid #6161616d;
  background-color: #3e3e3e5c;
  border-radius: 999px;
}

.activity#activity {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.activity#activity:hover {
  border: 1px solid #6161616d;
  background-color: #3e3e3e5c;
  border-radius: 999px;
}

.menu_bar_right {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.menu_bar_right:hover {
  border: 1px solid #6161616d;
  background-color: #3e3e3e5c;
  border-radius: 999px;
}
